/* sidebar */
.sidebar {
    display: flex;
    flex-direction: column;
    padding: 30px 60px 0 60px;
    height: 100%;
    gap: 10px;
  }
  
  .sidebar-wrappers {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .sidebar-wrappers img {
    width: 24px;
  }
  
  .add-list-btn {
    align-self: center;
    width: 60px;
    height: 60px;
    font-size: 40px;
  }