.list-checkmark-checked, 
.sublist-checkmark-checked {
    color: var(--ultragreen);
}

.list-checkmark-checked:hover, 
.sublist-checkmark-checked:hover {
    background-color: var(--ultragreen);
    color: var(--easygreen);
}

.list-title-checked,
.sublist-desc-checked,
.sublist-time-checked,
.sublist-duration-checked, 
.select-checked {
    text-decoration-line: line-through;
}