@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  font-weight: 200;
  color: black;
}

body {
  height: 100vh;
}

h1 {
  font-size: 32px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

h2 {
  font-size: 18px;
  font-weight: 400;
}

header {
  height: 10%;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  background-color: rgb(211, 255, 211);
}

input[type="date"] {
  background-color: rgb(211, 255, 211);
  font-weight: 600;
  font-size: 16px;
  padding: 5px;
  border: 1px solid rgb(211, 255, 211);
  appearance: none;
  border-radius: 10px;
  text-rendering: none;
}

main {
  display: flex;
  height: 90%;
  width: 100%;
}

/* sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  padding: 30px 60px 0 60px;
  height: 100%;
  gap: 10px;
}

.sidebar-wrappers {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar-wrappers img {
  width: 24px;
}

.add-list-btn {
  align-self: center;
  width: 60px;
  height: 60px;
  font-size: 40px;
}

/* main lists */
.lists-wrapper {
  padding: 30px;
  background-color: lightcyan;
  width: 100%;
}

.list-header {
  display: flex;
  align-items: center;
  gap: 15px;
}

button {
  background: none;
  border: none;
  width: 30px;
  height: 30px;
  font-size: 24px;
  font-weight: 600;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
}

button:hover {
  background: lightgreen;
  color: black;
}

.sublist-wrapper {
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
}

.list-checkmark {
  border: 1px solid gray;
  border-radius: 50%;
  color: lightcyan;
}

.list-checkmark:hover {
  color: black;
  background: none;
}

.sublist-checkmark {
  width: 24px;
  height: 24px;
  font-size: 20px;
}

.sublist {
  padding: 5px;
  width: 30%;
  border: none;
  background: none;
  border-bottom: 1px solid black;
  color: black;
  font-weight: 300;
  cursor: pointer;
}

.sublist[contenteditable]:empty::before {
  font-weight: 100;
  color: black;
}

.sublist-desc[contenteditable]:empty::before {
  content: 'Click to add or edit sublist';
}

.sublist-time {
  width: 5%;
}

.sublist-time[contenteditable]:empty::before {
  content: '8:00 PM';
}

.sublist-duration {
  width: 5%;
}

.sublist-duration[contenteditable]:empty::before {
  content: '1h 30m';
}

.sublist-wrapper > *:last-child {
  font-size: 16px;
}

.list-header h1[contenteditable] {
  cursor: pointer;
  padding: 5px;
  color: black;
}

.list-header h1[contenteditable]:empty::before {
  content: 'Click to add or edit list';
  color: gray;
};