header {
    height: 10%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;
    padding: 30px;
    background-color: var(--easygreen);
}

.title {
    flex: 0.25;
}

input[type="date"] {
    background-color: var(--easygreen);
    font-weight: 600;
    font-size: 26px;
    padding: 15px;
    border: none;
    appearance: none;
    border-radius: 10px;
    text-rendering: none;
    /* box-shadow: 0 1px 6px rgb(0,0,0,0.4); */
}

input[type=date]:focus {
    outline: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background-color: var(--mediumgreen);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 3px 3px rgb(0,0,0,0.4);
    background-color: white;
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
    background-color: var(--ultragreen);
    cursor: pointer;
}