header {
    height: 10%;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background-color: var(--easygreen);
}

input[type="date"] {
    background-color: var(--easygreen);
    font-weight: 600;
    font-size: 16px;
    padding: 5px;
    border: none;
    appearance: none;
    border-radius: 10px;
    text-rendering: none;
}