@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  font-weight: 300;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 22px;
}

header > div {
    display: flex;
    gap: 15px;
    justify-content: end;
}

header > * {
    flex: 1;
}

header > *:nth-child(2) {
    display: flex;
    justify-content: center;
}

img {
  width: 32px;
  padding: 5px;
  border-radius: 5px;
}

img:hover {
  cursor: pointer;
  background: lightgray;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(252, 255, 193);
  position: relative;
}

.content {
  height: 90vh;
  flex-basis: 50%;
  box-shadow: 0px 3px 7px rgb(0,0,0,0.4);
  border-radius: 15px;
  background-color: rgb(162, 223, 162);
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.line {
  border-bottom: 1px solid gray;
  width: 100%;
  align-self: center;
}

header {
  padding: 30px 30px 5px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main {
  display: flex;
  flex-direction: column;
  padding: 5px 30px 30px 30px;
  overflow: auto;
  gap: 15px;
}

.addSectionModal {
    position: absolute;
    height: 300px;
    width: 300px;
    background-color: rgb(0,0,0,0.8);
}

.section {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 3px 7px rgb(0,0,0,0.4);
  background-color: rgb(177, 255, 177);
  padding: 30px;
  border-radius: 15px;
}

.section-header {
  display: flex;
  margin-bottom: 10px;
}

.section-header > h2:first-child {
  flex: 2;
}

.section-header > h2:nth-child(n+2) {
  flex: 0.5;
}

.section-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section-content li {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px;
  border-bottom: 1px solid rgb(123, 123, 123);
}

.section-content li > p:nth-child(2) {
  flex: 2;
}

.section-content li > p:nth-child(3) {
  flex: 0.6;
}

.section-content li > p:nth-child(4) {
  flex: 0.25
}

button:first-child {
  border-radius: 5px;
  padding: 10px;
  outline: none;
  border: none;
  background: white;
  color: white;
  cursor: pointer;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:first-child:hover {
  background: lightgray;
  color: lightgray;
}

button:first-child:active {
  color: black;
}

button:last-child {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 5px;
}

button:last-child:hover {
  background: lightgray;
}